// Colors
$col-primary: hsl(245, 75%, 52%);
$col-bg: hsl(210, 46%, 95%);
$col-sub: hsl(212, 23%, 69%);
$col-head: hsl(217, 19%, 35%);
$col-para: hsl(224, 23%, 55%);

$font-primary: "Manrope", sans-serif;
